@font-face {
  font-family: Pretendard;
  src: url('../fonts/PretendardVariable.woff2') format("woff2");
}

@font-face {
  font-family: insdIcons;
  src: url('../fonts/insd-icons.ttf') format("ttf");
}

:root {
  --font-main: Pretendard;
  --font-icon: insdIcons
}