@font-face {
  font-family: Cagoit;
  src:  url('fonts/Bold.woff2') format('woff2'),
        url('fonts/Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: Cagoit;
  src:  url('fonts/Medium.woff2') format('woff2'),
        url('fonts/Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: Cagoit;
  src:  url('fonts/Regular.woff2') format('woff2'),
        url('fonts/Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: Cagoit;
  src:  url('fonts/Light.woff2') format('woff2'),
        url('fonts/Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: Cagoit;
  src:  url('fonts/Thin.woff2') format('woff2'),
        url('fonts/Thin.woff') format('woff');
  font-weight: 100;
}

@font-face {
  font-family: Icons;
  src:  url('icons/insd-icons.eot?3kgww6');
  src:  url('icons/insd-icons.eot?3kgww6#iefix') format('embedded-opentype'),
    url('icons/insd-icons.ttf?3kgww6') format('truetype'),
    url('icons/insd-icons.woff?3kgww6') format('woff'),
    url('icons/insd-icons.svg?3kgww6#insd-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --font: Cagoit;
  --icon: Icons;
}